*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*


# NETBEANS from https://github.com/github/gitignore/blob/master/Global/NetBeans.gitignore #
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/


# Additionals for NBeans from stackOverflow (http://stackoverflow.com/questions/2586097/what-should-be-in-gitignore-file-for-a-netbeans-java-project)

nbactions.xml
nb-configuration.xml
/nbproject/private/
/StoneBank-war/nbproject/private/
/StoneBank-ejb/nbproject/private/
/StoneBank-ejb/src/conf/META-INF/glassfish-resources\.xml
/build.xml
/StoneBank-ejb/build.xml
/StoneBank-war/build.xml