<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>ServletLogin</servlet-name>
        <servlet-class>stonebank.servlet.ServletLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletCreaUsuario</servlet-name>
        <servlet-class>stonebank.servlet.ServletCreaUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletListaMovimientos</servlet-name>
        <servlet-class>stonebank.servlet.ServletListaMovimientos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletBusqueda</servlet-name>
        <servlet-class>stonebank.servlet.ServletBusqueda</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletTransferencia</servlet-name>
        <servlet-class>stonebank.servlet.ServletTransferencia</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletCreaMovimiento</servlet-name>
        <servlet-class>stonebank.servlet.ServletCreaMovimiento</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletEliminaMovimiento</servlet-name>
        <servlet-class>stonebank.servlet.ServletEliminaMovimiento</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletEliminaUsuario</servlet-name>
        <servlet-class>stonebank.servlet.ServletEliminaUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletCerrarSesion</servlet-name>
        <servlet-class>stonebank.servlet.ServletCerrarSesion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletGestionarUsuario</servlet-name>
        <servlet-class>stonebank.servlet.ServletGestionarUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletVerUsuario</servlet-name>
        <servlet-class>stonebank.servlet.ServletVerUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletActualizarUsuario</servlet-name>
        <servlet-class>stonebank.servlet.ServletActualizarUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletActualizaEmpleado</servlet-name>
        <servlet-class>stonebank.servlet.ServletActualizaEmpleado</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletBuscarUsuarioEmpleado</servlet-name>
        <servlet-class>stonebank.servlet.ServletBuscarUsuarioEmpleado</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletCreaTransferencia</servlet-name>
        <servlet-class>stonebank.servlet.ServletCreaTransferencia</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletEditarUsuario</servlet-name>
        <servlet-class>stonebank.servlet.ServletEditarUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletHistorialTransferencia</servlet-name>
        <servlet-class>stonebank.servlet.ServletHistorialTransferencia</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletIndexEmpleado</servlet-name>
        <servlet-class>stonebank.servlet.ServletIndexEmpleado</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletEditarEmpleado</servlet-name>
        <servlet-class>stonebank.servlet.ServletEditarEmpleado</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletLogin</servlet-name>
        <url-pattern>/ServletLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletCreaUsuario</servlet-name>
        <url-pattern>/ServletCreaUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletListaMovimientos</servlet-name>
        <url-pattern>/ServletListaMovimientos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletBusqueda</servlet-name>
        <url-pattern>/ServletBusqueda</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletTransferencia</servlet-name>
        <url-pattern>/ServletTransferencia</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletCreaMovimiento</servlet-name>
        <url-pattern>/ServletCreaMovimiento</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletEliminaMovimiento</servlet-name>
        <url-pattern>/ServletEliminaMovimiento</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletEliminaUsuario</servlet-name>
        <url-pattern>/ServletEliminaUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletCerrarSesion</servlet-name>
        <url-pattern>/ServletCerrarSesion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletGestionarUsuario</servlet-name>
        <url-pattern>/ServletGestionarUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletVerUsuario</servlet-name>
        <url-pattern>/ServletVerUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletActualizarUsuario</servlet-name>
        <url-pattern>/ServletActualizarUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletActualizaEmpleado</servlet-name>
        <url-pattern>/ServletActualizaEmpleado</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletCreaTransferencia</servlet-name>
        <url-pattern>/ServletCreaTransferencia</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletEditarUsuario</servlet-name>
        <url-pattern>/ServletEditarUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletHistorialTransferencia</servlet-name>
        <url-pattern>/ServletHistorialTransferencia</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletIndexEmpleado</servlet-name>
        <url-pattern>/ServletIndexEmpleado</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletEditarEmpleado</servlet-name>
        <url-pattern>/ServletEditarEmpleado</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletBuscarUsuarioEmpleado</servlet-name>
        <url-pattern>/ServletBuscarUsuarioEmpleado</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>login.jsp</welcome-file>
    </welcome-file-list>
</web-app>
