<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>ServletLogin</servlet-name>
        <servlet-class>stonebank.servlet.ServletLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletCreaUsuario</servlet-name>
        <servlet-class>stonebank.servlet.ServletCreaUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletListaMovimientos</servlet-name>
        <servlet-class>stonebank.servlet.ServletListaMovimientos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletBusqueda</servlet-name>
        <servlet-class>stonebank.servlet.ServletBusqueda</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletTransferencia</servlet-name>
        <servlet-class>stonebank.servlet.ServletTransferencia</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletCreaMovimiento</servlet-name>
        <servlet-class>stonebank.servlet.ServletCreaMovimiento</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletEliminaMovimiento</servlet-name>
        <servlet-class>stonebank.servlet.ServletEliminaMovimiento</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletEliminaUsuario</servlet-name>
        <servlet-class>stonebank.servlet.ServletEliminaUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CustomerServlet</servlet-name>
        <servlet-class>stonebank.servlet.CustomerServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletLogin</servlet-name>
        <url-pattern>/ServletLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletCreaUsuario</servlet-name>
        <url-pattern>/ServletCreaUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletListaMovimientos</servlet-name>
        <url-pattern>/ServletListaMovimientos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletBusqueda</servlet-name>
        <url-pattern>/ServletBusqueda</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletTransferencia</servlet-name>
        <url-pattern>/ServletTransferencia</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletCreaMovimiento</servlet-name>
        <url-pattern>/ServletCreaMovimiento</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletEliminaMovimiento</servlet-name>
        <url-pattern>/ServletEliminaMovimiento</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletEliminaUsuario</servlet-name>
        <url-pattern>/ServletEliminaUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CustomerServlet</servlet-name>
        <url-pattern>/CustomerServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>login.jsp</welcome-file>
    </welcome-file-list>
</web-app>
